@import '../../index';

.nav-container {
	background-color: $color-primary;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: $width-full;

	nav {
		width: $width-large;
		font-size: 24px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		a {
			display: inline-flex;
			align-items: center;
			position: relative;

			.cart-item-num-container {
				border-radius: 50%;
				background-color: $color-complementary;
				width: 20px;
				height: 20px;
				display: inline-flex;
				align-items: center;
				position: absolute;
				right: -10%;
				top: -15%;
				
				span {
					display: inline-block;
					margin: 0 auto;
					padding: 1px;
					font-size: $font-size-body;
					text-align: center;
				}
			}

			.tooltiptext {
				width: 160px;
				background-color: #555;
				color: #fff;
				font-size: $font-size-body;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				  
				/* Position the tooltip text */
				position: absolute;
				z-index: 1;
				left: -165px;

				/* Animation */
				animation: jump 1.5s linear infinite;
			}

			.tooltiptext::after {
			    content: "";
			    position: absolute;
			    top: -5%;
			    left: 100%;
			    margin-left: -8px;
			    border-width: 8px;
			    border-style: solid;
			    border-color: #555 transparent transparent transparent;
			    transform: rotate(-25deg);
			}
		}
	}
}

@keyframes jump {
  0% {top: 90%;}
  50% {top: 110%;}
  100% {top: 90%;}
}


